<h1>Album Information</h1>

<div id="nav_bar">
  <ul id="nav_list">
    <li><a href="/" class="btn">Home</a></li>
    <li><a href="/genre" class="btn">Check out Genres</a></li>
    <li><a href="/singer" class="btn">Check out Artists</a></li>
    <li><a href="/album" class="btn">Check out Albums</a></li>
    <li><a href="/song" class="btn">Check out Songs</a></li>
  </ul>
</div>
	     
<table>
  <tr>
    <th>Album Name</th>
    <th>Album Release Date</th>
    <th>Update Information</th>
    <th>Delete</th>
  </tr>
  <tr>
    <td>American Idiot</td>
    <td>09/21/2004</td>
    <td><button type="button" id="updateAlbum">Update</button></td>
    <td><button type="button" id="deleteAlbum">Delete</button></td>
  </tr>
  <tr>
    <td>My Beautiful Dark Twisted Fantasy</td>
    <td>11/22/2010</td>
    <td><button type="button" id="updateAlbum">Update</button></td>
    <td><button type="button" id="deleteAlbum">Delete</button></td>
  </tr>
  <tr>
    <td>In The Zone</td>
    <td>11/18/2003</td>
    <td><button type="button" id="updateAlbum">Update</button></td>
    <td><button type="button" id="deleteAlbum">Delete</button></td>
  </tr>
</table>
										
<form>
  <h2>Add a New Album:</h2>
  <label for="albumNameAl">Album Name: </label>
  <input type="text" id="albumNameAl"><br/>
  <label for="releaseDateAl">Release Date: </label>
  <input type="date" id="releaseDateAl"><br/>
  <button type="button" id="submitSong">Submit</button>
</form>
