<h1>Music Genres</h1>

<div id="nav_bar">
  <ul id="nav_list">
    <li><a href="/" class="btn">Home</a></li>
    <li><a href="/genre" class="btn">Check out Genres</a></li>
    <li><a href="/singer" class="btn">Check out Artists</a></li>
    <li><a href="/album" class="btn">Check out Albums</a></li>
    <li><a href="/song" class="btn">Check out Songs</a></li>
  </ul>
</div>

<table>
  <tr>
    <th>Genre Name</th>
    <th>Update Name</th>
    <th>Delete</th>
  </tr>
  <tr>
    <td>Rock</td>
    <td><button type="button" id="updateGenre">Update</button></td>
    <td><button type="button" id="deleteGenre">Delete</button></td>
  </tr>
  <tr>
    <td>Rap</td>
    <td><button type="button" id="updateGenre">Update</button></td>
    <td><button type="button" id="deleteGenre">Delete</button></td>
  </tr>
  <tr>
    <td>Pop</td>
    <td><button type="button" id="updateGenre">Update</button></td>
    <td><button type="button" id="deleteGenre">Delete</button></td>
  </tr>
</table>
				
<div>
  <h2>Add a New Genre:</h2>
  <label for="genreNameG">Genre: </label>
  <input type="text" id="genreNameG"><br/>
  <button type="button" id="submitGenre">Submit</button>
</div>
