<h1>Artist Information</h1>

<div id="nav_bar">
  <ul id="nav_list">
    <li><a href="/" class="btn">Home</a></li>
    <li><a href="/genre" class="btn">Check out Genres</a></li>
    <li><a href="/singer" class="btn">Check out Artists</a></li>
    <li><a href="/album" class="btn">Check out Albums</a></li>
    <li><a href="/song" class="btn">Check out Songs</a></li>
  </ul>
</div>

<table>
  <tr>
    <th>Artist Name</th>
    <th>Home City</th>
    <th>Home State</th>
    <th>Update Information</th>
    <th>Delete</th>
  </tr>
  <tr>
    <td>Kanye West</td>
    <td>Atlanta</td>
    <td>GA</td>
    <td><button type="button" id="updateArtist">Update</button></td>
    <td><button type="button" id="deleteArtist">Delete</button></td>
  </tr>
  <tr>
     <td>Britney Spears</td>
     <td>McComb</td>
     <td>MS</td>
    <td><button type="button" id="updateArtist">Update</button></td>
    <td><button type="button" id="deleteArtist">Delete</button></td>
  </tr>
  <tr>
    <td>Green Day</td>
    <td>Berkeley</td>
    <td>CA</td>
    <td><button type="button" id="updateArtist">Update</button></td>
    <td><button type="button" id="deleteArtist">Delete</button></td>
  </tr>
</table>
												
<div>
  <h2>Add a New Artist:</h2>
  <label for="singerNameAr">Artist: </label>
  <input type="text" id="singerNameAr"><br/>
  <label for="cityAr">Home City: </label>
  <input type="text" id="cityAr"><br/>
  <label for="stateAr">Home State (Ex. CA): </label>
  <input type="text" id="StateAr"><br/>
  <button type="button" id="submitSong">Submit</button>
</div>
